﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Freunde</title>
    <link rel="stylesheet" type="text/css" href="../css/theme.css" />
    <link rel="stylesheet" type="text/css" href="../css/messages.css" />
    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.cookie.js"></script>
	    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
    <script src="../js/controller/navigation.js"></script>	
    <script src="../js/controller/friends.js"></script>
    <script src="../js/backendConnector.js"></script>
</head>
<body ng-app="nosqlapp">
   	<div ng-include = "'./navigation.html'"></div>
    <div id="content" ng-controller="friendsCtrl">
       	<div class="alert alert-dismissible alert-success" id="friendRemovedAlert" style="display:none;">
       	  <button type="button" class="close" data-dismiss="alert" onclick="$('#friendRemovedAlert').hide();">x</button>
       	  Deine Freundschaft mit <strong>{{removedUser.firstname}} {{removedUser.lastname}}</strong> ist jetzt beendet.
       	</div>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Entfernen</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in friends">
                    <td>{{f.email}}</td>
                    <td>{{f.firstname}}</td>
                    <td>{{f.lastname}}</td>
                    <td>
                        <button type="button" ng-click="removeFriend($index)" class="btn btn-danger btn-sm">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>