﻿<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Nachrichten</title>
		<link rel="stylesheet" type="text/css" href="../css/theme.css"/>
        <link rel="stylesheet" type="text/css" href="../css/messages.css" />
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
	    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
	    <script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
	    <script type="text/javascript" src="../js/lib/jquery.cookie.js"></script>
	    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
        <script src="../js/controller/navigation.js"></script>
        <script src="../js/controller/messages.js"></script>
        <script src="../js/backendConnector.js"></script>
	</head>
<body ng-app="nosqlapp">
   	<div ng-include = "'./navigation.html'"></div>
    <div id="content" ng-controller="messagesCtrl" class="row">
        <form class="col-lg-12 form-horizontal">
            <div class="input-group">
                <input type="text" id="newMessageField" ng-model="newMessage" class="form-control"/>
                <span class="input-group-btn">
                    <button type="submit" id="sendButton" ng-click="send()" class="btn btn-default">Senden</button>
                </span>
            </div>
        </form>
        <div>
	        <div class="col-lg-10 row" style="margin-top: 20px;">
		        <ul id="messages" class="list-group">
		            <li ng-repeat="m in messages | orderBy: orderByDate : true" class="message list-group-item" ng-class="getClass(m)">
		                <div>
		                    <p class="list-group-item-heading" style="float: left;" >{{m.sender.firstname}} {{m.sender.lastname}} / {{m.date.toLocaleDateString("de-DE")}} {{m.date.toLocaleTimeString("de-DE")}}</p>
		                    <span style="float: right;" ng-show="m.sender.email != currentUser.email">
			                    <input type='checkbox' name='likeCheckbox{{$index}}' value='valuable' id="likeCheckbox{{$index}}" ng-model="m.likedByCurrentUser" ng-change="likeMessage(m.id, m.likedByCurrentUser)"/>
			                    <label for="likeCheckbox{{$index}}"></label>
		                    </span>
		                    <div style="clear: both;">
				    			<Button ng-repeat="h in m.hashtags" class="btn btn-primary btn-xs hashtag hashtagInMessage" ng-click="filterForHashtag(h)">{{h}}</Button>
				    		</div>
		                    <hr style="border-color: black;"/>
		                    <h4 class="list-group-item-text messageContent">{{m.content}}</h4>
		                </div>
		            </li>
		        </ul>
	    	</div>
	    	<div class="col-lg-2 col-of" style="margin-top: 20px;">
	    		<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h3 class="panel-title">Hashtags</h3>
				  </div>
				  <div class="panel-body">
				    <Button ng-repeat="h in allHashtags" class="btn btn-primary btn-sm hashtag" ng-click="filterForHashtag(h)">{{h}}</Button>
				  </div>
				</div>
	    	</div>
        </div>
    </div>
</body>
</html>