<nav class="navbar navbar-default" ng-controller="navCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                <span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="Messages.html" rel="noreferrer">NoSQL-Workshop</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li id="messages"><a href="Messages.html" rel="noreferrer">Nachrichten</a></li>
              <li id="friends"><a href="Friends.html" rel="noreferrer">Meine Freunde</a></li>
              <li id="searchFriends"><a href="SearchFriends.html" rel="noreferrer">Freunde suchen</a></li>
              <li id="suggestedFriends"><a href="SuggestedFriends.html" rel="noreferrer">Freunde vorschlagen</a></li>
              <li id="likesOfFriends"><a href="LikesOfFriends.html" rel="noreferrer">Likes von Freunden</a></li>
          </ul>
	      <ul class="nav navbar-nav navbar-right">
	       	<li class="dropdown">
	       		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" rel="noreferrer">{{currentUser.firstname}} {{currentUser.lastname}} <span class="caret"></span></a>
       			
		       	<ul class="dropdown-menu" role="menu">
		       		<li><a ng-click="logout()" style="cursor: pointer;">Ausloggen</a></li>
		       	</ul>
	       	</li>
	      </ul>
        </div>
    </div>
</nav>