﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Freunde suchen</title>
    <link rel="stylesheet" type="text/css" href="../css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="../css/messages.css"/>
    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.cookie.js"></script>
	    <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
    <script src="../js/controller/navigation.js"></script>
    <script src="../js/controller/searchFriends.js"></script>
    <script src="../js/backendConnector.js"></script>
</head>
<body ng-app="nosqlapp">
   	<div ng-include = "'./navigation.html'"></div>
	<div id="content" ng-controller="searchFriendsCtrl">
       	<div class="alert alert-dismissible alert-success" id="friendAddedAlert" style="display:none;">
       	  <button type="button" class="close" data-dismiss="alert" onclick="$('#friendAddedAlert').hide();">x</button>
       	  Du bist jetzt mit <strong>{{addedUser.firstname}} {{addedUser.lastname}}</strong> befreundet.
       	</div>
	    <form class="form-horizontal">
	        <div class="form-group">
	            <Label for="searchFriendField" class="col-lg-1 control-label">Suche: </Label>
	            <div class="col-lg-10">
	                <input type="text" id="searchFriendField" ng-model="searchText" class="form-control"/>
	            </div>
	        </div>
	    </form>
	    <table class="table table-striped table-hover">
	        <thead>
	        <tr>
	            <th>Email</th>
	            <th>Vorname</th>
	            <th>Nachname</th>
	            <th>Hinzufügen</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr ng-repeat="f in users | filter:searchText">
	            <td>{{f.email}}</td>
	            <td>{{f.firstname}}</td>
	            <td>{{f.lastname}}</td>
	            <td>
	                <button type="button" ng-click="addFriend($index)" class="btn btn-success btn-sm">+</button>
	            </td>
	        </tr>
	        </tbody>
	    </table>
	</div>
</body>
</html>