.myMessage {
    background: #c4e3f3;
    float:right;
    clear: both;
}

.otherMessage {
    float:left;
    clear: both;
    background: #dff0d8;
}

.message {
    margin-top: 10px;
    width: 45%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.message:first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.message:last-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.messagContent {
    word-wrap: initial;
}

#content {
    width: 80%;
    display: table;
    margin: 0 auto;
}

.hashtag {
	margin-bottom:5px; 
	margin-right:5px;
}

.hashtagInMessage {
	background-color:transparent; 
	border-color: #244363; 
	color: #244363; 
	border-style: solid; 
	border-width: 2px;
}