input[type=checkbox] {
	display:none;
}
 
input[type=checkbox] + label
{
	background: url("../resources/like_unchecked.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display:inline-block;
	padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label
{
	background: url("../resources/like_checked.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display:inline-block;
	padding: 0 0 0 0px;
}